header {
    display: block;
    height: 1.3em;
}

.mac-btn {
    position: absolute;
    height: 10px;
    width: 10px;
    border-radius: 50%;
}

#mac-btn1 {
    background-color: #FC6767;
    margin-left: 15.5px;
}

#mac-btn2 {
    background-color: #FDD973;
    margin-left: 31px;
}

#mac-btn3 {
    background-color: #B3E07A;
    margin-left: 47px;
}