@import url(https://fonts.googleapis.com/css?family=Roboto:300);
.login-page {
    width: 80%;
    padding: 8% 0 0;
    margin: auto;
}

.form {
    /* position: relative;
    z-index: 1;
    margin: 0 auto 100px; */
    padding: 45px;
    text-align: center;
}

.signup-form {
    margin-top: 35px;
}

.form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: none;
    width: 60%;
    border: 0;
    border-bottom: 2px solid rgba(255, 255, 255, 0.3);
    
    padding: 15px;
    font-size: 18px;
    color: white;
}

.form :-ms-input-placeholder {
    color: white;
}

.form .id::placeholder {
    color: white;
}

.form .password::placeholder {
    color: white;
}

.id.fieldError{
	border-bottom: 2px solid rgba(255, 0, 0, 0.6);
}

.password.fieldError{
	border-bottom: 2px solid rgba(255, 0, 0, 0.6);
}

.error-message{
	
	color:white;
}

.form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: none;
    width: 60%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 18px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    margin-top:10px;
}

.form button:hover,
.form button:active,
.form button:focus {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}