@import url(https://fonts.googleapis.com/css?family=Roboto:300);
.login-page {
    width: 80%;
    /* padding: 8% 0 0; */
    margin: auto;
}

.form {
    /* position: relative;
    z-index: 1;
    margin: 0 auto 100px; */
    padding: 0 0 20px 0;
    text-align: center;
}

.menu {
    position: absolute;
    padding: 5px 0 0 100px;
}

.form input {
    font-family: 'KoPub Dotum';
    outline: 0;
    background: none;
    width: 60%;
    border: 0;
    border-bottom: 2px solid rgba(255, 255, 255, 0.3);
    padding: 15px;
    font-size: 15px;
    color: white;
}

.form :-ms-input-placeholder {
    color: white;
}

.form .id::placeholder {
    color: white;
}

.form .password::placeholder {
    color: white;
}

.id.fieldError {
    border-bottom: 2px solid rgba(255, 0, 0, 0.6);
}

.password.fieldError {
    border-bottom: 2px solid rgba(255, 0, 0, 0.6);
}

.error-message {
    color: white;
    margin: 10px 0 10px 0;
    font-size:14px;
}

.login-page button {
    background: none;
    color: #fff;
    border: 2px solid;
    border-radius: 3px;
    font-size: 14px;
    outline: none;
    padding: 6px;
    margin: 15px 0 0 0;
    font-family: 'KoPub Dotum';
    cursor: pointer;
}