// Config
@import "./config/_reset.scss";
@import "./config/_font.scss";
@import "./config/color";

// Routes
@import "./routes/login.scss";
@import "./routes/home.scss";

// Components
@import "./components/editBox.scss";
@import "./components/header.scss";
@import "./components/playBox.scss";
@import "./components/playlist.scss";
@import "./components/playlistCategory.scss";
@import "./components/song.scss";
@import "./components/youtubeVideo.scss";
@import "./components/playlistDetail.scss";
@import "./components/searchSongs.scss";

// GlobalStyles
body {
  width: 1200px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  background-color: #2a373a;
}

div {
  box-sizing: border-box;
}

span,
p,
a,
textarea {
  font-family: "KoPub Dotum";
}

.shadow__container::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  min-width: 1200px;
  height: 100vh;
  background-image: url(https://firebasestorage.googleapis.com/v0/b/byhoon-bdf04.appspot.com/o/mypl%20bg.jpg?alt=media&token=2c963035-971c-4b59-b15f-be1f62fe0aa7);
  background-size: cover;
  filter: blur(10px);
  z-index: -1;
}
