<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시판 - 목록</title>
    <link rel='stylesheet' href='/webjars/bootstrap/4.5.0/css/bootstrap.min.css'>
</head>
<body>
<header th:insert="common/header.html"></header>
<div class="container">
	<p scope="col" class="pty" th:text="${pty}">강수 정보</p>
	<p scope="col" class="t1h" th:text="${t1h}">기온 정보</p>
    <table class="table">
        <thead class="thead-light">
        <tr class="text-center">
            <th scope="col">#</th>
            <th scope="col">title</th>
            <th scope="col">artist</th>
            <th scope="col">날씨</th>
        </tr>
        </thead>
        <tbody>
        <tr class="text-center" th:each="music : ${musicList}">
            <th scope="row">
            	<iframe id="player" type="text/html" width="320" height="180" th:src="${music}" frameborder="0">음악 영상</iframe>
            </th>
        </tr>
        </tbody>
    </table>
    <div class="row">
        <div class="col-auto mr-auto"></div>
        <div class="col-auto">
            <a class="btn btn-primary" th:href="@{/post}" role="button">글쓰기</a>
        </div>
    </div>
</div>
<script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>