<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Today Music</title>
    <link rel="stylesheet" href="../assets/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-latest.js"></script>
</head>

<body>
    <header>
        <div class="mac-btn" id="mac-btn1"></div>
        <div class="mac-btn" id="mac-btn2"></div>
        <div class="mac-btn" id="mac-btn3"></div>
    </header>

    <div class="login-page">
        <div class="form">
            <form class="login-form" th:object="${member}" action="/signup" method="post">
                <input class="id" th:field="*{username}" type="text" placeholder="USERNAME"
                	th:class="${#fields.hasErrors('username')}? 'id fieldError' : 'id'">
                <p class="error-message" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></p>
                <br>
                <input class="password" th:field="*{password}" type="password" placeholder="PASSWORD"
                	th:class="${#fields.hasErrors('password')}? 'password fieldError' : 'password'">
                <p class="error-message" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
               	
                
                <button type="submit">제출하기</button>
            </form>
        </div>
    </div>




    <script src="../assets/js/header.js"></script>
    <script src="../assets/js/bg.js"></script>
</body>