.my-playlists__container {
  width: 100%;
  height: auto;
  max-height: 100%;
  padding-top: 35px;
  overflow: hidden;
}

.my-playlists__container::-webkit-scrollbar {
  width: 5px;
}
.my-playlists__container::-webkit-scrollbar-thumb {
  background-color: #2f3542;
}
