<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">


<head>
    <title>내플리스 MyPlaylists</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-latest.js"></script>
</head>

<style>
	.readonly{
		background-color:#3a4c66;
	}
</style>

<body>
    <header>
        <div class="mac-btn" id="mac-btn1"></div>
        <div class="mac-btn" id="mac-btn2"></div>
        <div class="mac-btn" id="mac-btn3"></div>
    </header>

    <div class="container clearfix">
        <div class="people-list" id="people-list">
            <div class="search">
            	<form method="get" action="/mylist/search">
            		<input type="text" placeholder="플레이리스트 검색" name="keyword">
            	</form>
            </div>
            <div class="menu-btn">
            	<a class="add-btn" th:href="@{/mylist/add}">플레이리스트 추가</a>
            	
            </div>
            <ul class="list">
                <li class="clearfix" th:each="playlist:${playlists}">
                    <a th:href="@{'/mylist/'+${playlist.id}}">
                        <div class="about">
                            <div class="name" th:text="${playlist.title}">플레이리스트 제목</div>
                            <div class="status" th:text="${#temporals.format(playlist.updatedAt,'yy-MM-dd HH:mm')}"></div>
                        </div>
                    </a>
                </li>
            </ul>
            <div class="pagination">
            	<a class="my-info" th:href="@{/myinfo}">내 정보</a>
	            <a class="page-link" th:href="@{'?page=' + ${previous}}">◀</a>
	            <a class="fa fa-home" th:href="@{/mylist}"></a>
	           	<a class="page-link" th:href="@{'?page=' + ${next}}">▶</a>
	           	<a class="logout-btn" th:href="@{/logout}" role="button">로그아웃</a>
            </div>
			
        </div>

        <div class="chat">
           <div class="chat-header clearfix">
                <div class="chat-about">
                    <div class="chat-with">내 정보</div>
                    <div class="chat-num-messages">닉네임을 설정하지 않으면 연동시킨 구글 이름이 사용되므로 유의해주세요.</div>
                </div>
            </div>
            
            <div class="chat-history">
            	<form method="post" action="/myinfo">
            		<div class="form-group">
            			<label>구글 이메일</label>
	            		<input class="form-control readonly" type="text" th:placeholder="${user.email}" readonly>
            		</div>
            		<div class="form-group">
            			<label>구글 이름</label>
            			<input class="form-control readonly" type="text" th:placeholder="${user.name}" readonly>
            		</div>
            		<div class="form-group">
            			<label>닉네임</label>
            			<input th:if="${user.nickname==null}" class="form-control" name="nickname" type="text" placeholder="닉네임을 입력해주세요">
            			<input th:unless="${user.nickname==null}" class="form-control" name="nickname" type="text" th:value="${user.nickname}">
            		</div>
            		<div class="form-group">
	            		<button type="submit">수정</button>
            		</div>
	            	
	            	
            	</form>
            	
            </div>

        </div>
        <!-- end chat -->

    </div>
    <!-- end container -->

    <script src="../assets/js/bg.js"></script>
</body>