<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>내플리스 - My Playlists</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-latest.js"></script>
</head>

<body>
	<header>
        <div class="mac-btn" id="mac-btn1"></div>
        <div class="mac-btn" id="mac-btn2"></div>
        <div class="mac-btn" id="mac-btn3"></div>
    </header>
    
    
    <div class="container clearfix">
        <div class="people-list" id="people-list">
            <div class="menu-btn" style="padding:38px">
            	<a class="add-btn" href="javascript:history.back();">뒤로</a>
            </div>
            
            <ul class="list">
                
            </ul>
            <div class="pagination">
            	<a class="my-info" th:href="@{/myinfo}">내 정보</a>
	            <a class="page-link disabled">◀</a>
	            <a class="fa fa-home" th:href="@{/mylist}"></a>
	           	<a class="page-link disabled">▶</a>
	           	<a class="logout-btn" th:href="@{/logout}" role="button">로그아웃</a>
            </div>
        </div>

        <div class="chat">
        	<div class="chat-header clearfix">
                <div class="chat-about">
                    <div class="chat-with">죄송합니다. 요청하신 페이지를 찾을 수 없습니다.</div>
                    <div class="chat-num-messages"></div>
                </div>
               	
            </div>
            <!-- end chat-history -->
            <div class="chat-history">
            	<div class="chat-num-messages">잘못된 접근이거나 요청하신 페이지를 찾을 수 없습니다.</div>
            	<div class="chat-num-messages"> 입력하신 페이지의 주소가 정확한지 다시 한번 확인해 주시기 바랍니다.</div>
            </div>
        </div>
        <!-- end chat -->
    </div>
    <!-- end container -->

    <script src="/assets/js/bg.js"></script>


</body>

</html>