<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Today Music</title>
    <link rel="stylesheet" href="../assets/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-latest.js"></script>
</head>

<body>
    <header>
        <div class="mac-btn" id="mac-btn1"></div>
        <div class="mac-btn" id="mac-btn2"></div>
        <div class="mac-btn" id="mac-btn3"></div>
    </header>


    <section class="center">
        <div class="app">
            <div class="menu">
                <ul>
                    <li><a class="active" th:href="@{/mylist}">내 플레이리스트</a></li>
                    <li><a href="#">다른 플레이리스트</a></li>
                    <li><a th:href=@{/signout}>로그아웃</a></li>
                </ul>
            </div>
            <div class="add">
                <form th:object="${playlist}" action="/mylist/add" method="post">
                    <input type="text" th:field="*{title}" class="title-input" placeholder="플레이리스트 제목을 입력하세요.">
                    <br>
                    <input type="radio" th:field="*{visibility}" th:value="true"><i class="fa fa-book"></i><span> Public : 이 플레이리스트를 누구나 볼 수 있습니다.</span>

                    <br>
                    <input type="radio" th:field="*{visibility}" th:value="false"><i class="fa fa-lock"></i><span> Private : 자신과 공유받은 사람만 볼 수 있습니다.</span>

                    <button class="addlist-button" type="submit">추가</button>
                </form>
            </div>
        </div>
    </section>




    <script src="../assets/js/bg.js"></script>
</body>