<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Today Music</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-latest.js"></script>
</head>
<style>
.title.fieldError {
    border-bottom: 2px solid rgba(255, 0, 0, 0.6);
}

.description.fieldError{
    border-bottom: 2px solid rgba(255, 0, 0, 0.6);
}
</style>


<body>
    <header>
        <div class="mac-btn" id="mac-btn1"></div>
        <div class="mac-btn" id="mac-btn2"></div>
        <div class="mac-btn" id="mac-btn3"></div>
    </header>

    <div class="container clearfix">
        <div class="list-form">
            <form method="post" th:object="${playlist}" action="/mylist/add">
                <div class="form-group">
                	<span>플레이리스트 제목 (필수)</span>
                    <input type="text" th:field="*{title}" class="title" placeholder="플레이리스트 제목을 입력하세요. (30자 이내)" th:class="${#fields.hasErrors('title')? 'title fieldError' : 'title'}">
                </div>
                <div class="form-group">
                	<span>설명 (옵션)</span>
                	<input type="text" th:field="*{description}" class="description" placeholder="플레이리스트 설명을 입력하세요. (30자 이내)" th:class="${#fields.hasErrors('description')?'description fieldError':'description'}">
                </div>
                <div class="visibility">
                    <input type="radio" th:field="*{visibility}" value="true"><i class="fa fa-book"></i><span> Public : 이 플레이리스트를 누구나 볼 수 있습니다.</span>
                    <br>
                    <input type="radio" th:field="*{visibility}" value="false"><i class="fa fa-lock"></i><span> Private : 자신과 공유받은 사람만 볼 수 있습니다.</span>
                </div>
                <div>
                    <a class="btn" th:href="@{/mylist}">취소</a>
                    <button class="btn" type="submit">완료</button>
                </div>
            </form>
        </div>

    </div>
    <!-- end container -->

    <script src="../assets/js/bg.js"></script>
</body>