<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">


<head>
    <title>내플리스 - My Playlists</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-latest.js"></script>
</head>

<body>
    <header>
        <div class="mac-btn" id="mac-btn1"></div>
        <div class="mac-btn" id="mac-btn2"></div>
        <div class="mac-btn" id="mac-btn3"></div>
    </header>

    <div class="container clearfix">
        <div class="people-list" id="people-list">
            <div class="search">
            	<form method="get" action="/mylist/search">
            		<input type="text" placeholder="내 플레이리스트 검색" name="keyword">
            	</form>
            </div>
            <div class="menu-btn">
            	<a class="add-btn" href="javascript:history.back();">뒤로</a>
            </div>
            
            <ul class="list">
                <li class="clearfix" th:each="song:${songs}">
                    <a th:href="@{'/playlist/' + ${playlist.id} + '/' + ${song.id}}">
                        <div class="about">
                            <div class="name" th:text="${song.title}">노래 제목</div>
                            <div class="status" th:text="${#temporals.format(song.createdDate,'yy-MM-dd HH:mm')}"></div>
                        </div>
                    </a>
                </li>
            </ul>
            <div class="pagination">
                <a class="my-info" th:href="@{/me}">내 정보</a>
                <a class="page-link disabled">◀</a>
                <a class="fa fa-home" th:href="@{/}"></a>
                <a class="page-link disabled">▶</a>
                <a class="logout-btn" th:href="@{/logout}" role="button">로그아웃</a>
            </div>
        </div>
        
        
        

        <div class="chat">
            <div class="chat-header clearfix">
                <div class="chat-about">
                    <div class="chat-with" th:text="${playlist.title}">해당 플레이리스트 제목</div>
                    <div class="chat-num-messages" th:text="${author} + '의 플레이리스트'">해당 플레이리스트 만든 사람</div>
                </div>
                <form th:action="@{'/playlist/'+${playlist.id}}" method="post" name="deleteForm">
            		<input type="hidden" name="_method" value="delete"/>
            		<button class="trash-button" type="button" onclick="checkDeletion()"><i class="fa fa-trash"></i></button>
            	</form>
                <a th:href="@{'/playlist/'+${playlist.id} + '/add'}"><i class="fa fa-plus"></i></a>
                
            </div>
            <!-- end chat-header -->

            <div class="chat-history">
            	<div class="search">
            		<form id="search-form">
            			<input id="keyword" type="text" placeholder="노래 제목 검색" name="keyword" autocomplete="off">
            		</form>
            	</div>
                <p id="error-message"></p>
                <div class="message-data">

                </div>
            </div>
            <!-- end chat-history -->
        </div>
        <!-- end chat -->
    </div>
    <!-- end container -->

    <script src="/assets/js/bg.js"></script>
    <script src="/assets/js/check.js"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        const playlistId = /*[[${playlist.id}]]*/
            /* ]]> */
        $("#search-form").submit(search);

        function search(event) {
            event.preventDefault();
            const keyword = $("#keyword").val();
            $.ajax({
                url: "/youtube_search?keyword=" + keyword,
                type: "GET",
                success: function (response) {
                    var searchResult = "";
                    $(response).each(function (idx, song) {
                        searchResult += `
                        <div class="result">
                            <div class="thumbnail"><img src=${song.thumbnail}></div>
                            <div class="title">${song.title}</div>
                            <div class="add">
                                <form class="song-form${idx}" method="post" action="/song">
                                      <input type="hidden" id="title${idx}" name="title" value="${song.title}">
                                      <input type="hidden" id="videoId${idx}" name="videoId" value="${song.videoId}">
                                    <button type="button">추가</button>
                                </form>
                            </div>
                        </div>
                        `
                    })
                    $(".message-data").html(searchResult);
                    $(".song-form0").click(function () {
                        const title = $("#title0").val();
                        const videoId = $("#videoId0").val();

                        addSong(title, videoId);
                    })
                    $(".song-form1").click(function () {
                        const title = $("#title1").val();
                        const videoId = $("#videoId1").val();

                        addSong(title, videoId);
                    })
                    $(".song-form2").click(function () {
                        const title = $("#title2").val();
                        const videoId = $("#videoId2").val();

                        addSong(title, videoId);
                    })
                    $(".song-form3").click(function () {
                        const title = $("#title3").val();
                        const videoId = $("#videoId3").val();

                        addSong(title, videoId);
                    })
                    $(".song-form4").click(function () {
                        const title = $("#title4").val();
                        const videoId = $("#videoId4").val();

                        addSong(title, videoId);
                    })
                },
                error: function (response) {
                    $("#error-message").text(response.responseJSON.message);
                }
            })
        }

        function addSong(title, videoId) {
            const songRequestDto = {
                playlistId: playlistId,
                title: title,
                videoId: videoId
            }
            $.ajax({
                url: "/song",
                type: "POST",
                data: JSON.stringify(songRequestDto),
                dataType: "json",
                contentType: "application/json",
                success: function () {
                    location.replace("/playlist/" + playlistId);
                },
                error: function (response) {
                    $("#error-message").text(response.responseJSON.message);
                }
            })
        }

    </script>
</body>