<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">


<head>
    <title>내플리스 - My Playlists</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-latest.js"></script>
</head>

<body>
    <header>
        <div class="mac-btn" id="mac-btn1"></div>
        <div class="mac-btn" id="mac-btn2"></div>
        <div class="mac-btn" id="mac-btn3"></div>
    </header>

    <div class="container clearfix">
        <div class="people-list" id="people-list">
            <div class="search">
            	<form method="get" action="/all/search">
            		<input type="text" placeholder="모든 플레이리스트 검색" name="keyword">
            	</form>
            </div>
            <div class="menu-btn">
            	<a class="add-btn" th:href="@{/playlist}">플레이리스트 추가</a>
            	
            </div>
            <ul id="playlists" class="list">

            </ul>
            <div id="pagination" class="pagination">

            </div>

			
        </div>

        <div class="chat">
        	<div class="chat-header clearfix">
        		<div class="chat-about">
        			<a href="/">내 플레이리스트 보기</a>
        			<a href="/all" style="background-color:hsl(212, 29%, 1%);">모든 플레이리스트 보기</a>
        			<a href="/bookmark">즐겨찾기 보기</a>
                </div>
                
        	</div>
        
        </div>
        <!-- end chat -->

    </div>
    <!-- end container -->

    <script src="/assets/js/bg.js"></script>
    <script>
        const offset = 6;
        getAllPlaylists(0);
        function getAllPlaylists(page) {
            $.get("/my-playlists-size?visibility=false", function (myPlaylistsSize) {
                $.ajax({
                    type: "GET",
                    url: "/all-playlists",
                    data: "page=" + page + "&visibility=false",
                    success: function(response) {
                        var playlistsHtml = "";
                        $(response).each(function(idx, playlist) {
                            playlistsHtml += `
                        <li class="clearfix">
                            <a href="/playlist/${playlist.playlistId}">
                                <div class="about">
                                    <div class="name">${playlist.title}</div>
                                    <div class="status">${playlist.description}</div>
                                </div>
                            </a>
                        </li>
                        `
                        });
                        $("#playlists").html(playlistsHtml)
                    }
                })

                const previousClass = page * offset == 0 ? "page-link disabled" : "page-link";
                const nextClass = (page + 1) * offset >= myPlaylistsSize ? "page-link disabled" : "page-link";
                const paginationHtml = `
                        <a class="my-info" href="/me">내 정보</a>
                        <a id="previous" class="${previousClass}" href="#">◀</a>
                        <a class="fa fa-home" href="/"></a>
                        <a id="next" class="${nextClass}" href="#">▶</a>
                        <a class="logout-btn" href="/logout" role="button">로그아웃</a>
                        `
                $("#pagination").html(paginationHtml)

                $("#next").click(function() {
                    getAllPlaylists(page + 1)
                })
                $("#previous").click(function () {
                    getAllPlaylists(page - 1)
                })
            })


        }
    </script>
</body>