<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">


<head>
    <title>내플리스 - My Playlists</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-latest.js"></script>
</head>

<body>
    <header>
        <div class="mac-btn" id="mac-btn1"></div>
        <div class="mac-btn" id="mac-btn2"></div>
        <div class="mac-btn" id="mac-btn3"></div>
    </header>

    <div class="container clearfix">
        <div class="people-list" id="people-list">
            <div class="search">
            	<form method="get" action="/playlist/search">
            		<input type="text" placeholder="플레이리스트 검색" name="keyword">
            	</form>
            </div>
            <div class="menu-btn">
            	
            	<a class="add-btn" href="javascript:history.back();">뒤로</a>
            </div>
            
            <ul class="list">
                <li class="clearfix" th:each="song:${songs}">
                    <a th:href="@{'/playlist/'+${playlist.id}+'/'+${song.id}}">
                        <div class="about">
                            <div class="name" th:text="${song.title}">노래 제목</div>
                            <div class="status" th:text="${#temporals.format(song.createdAt,'yy-MM-dd HH:mm')}"></div>
                        </div>
                    </a>
                </li>
            </ul>
            <div class="pagination">
            	<a class="my-info" th:href="@{/myinfo}">내 정보</a>
	            <a class="page-link disabled">◀</a>
	            <a class="fa fa-home" th:href="@{/mylist}"></a>
	           	<a class="page-link disabled">▶</a>
	           	<a class="logout-btn" th:href="@{/logout}" role="button">로그아웃</a>
            </div>
        </div>

        <div class="chat">
            <div class="chat-header clearfix">
                <div class="chat-about">
                    <div class="chat-with" th:text="${playlist.title}">해당 플레이리스트 제목</div>
                    <div class="chat-num-messages" th:text="${author} + '의 플레이리스트'">해당 플레이리스트 만든 사람</div>
                </div>
               	<form th:action="@{'/playlist/'+${playlist.id}}" method="post">
            		<input type="hidden" name="_method" value="delete"/>
            		<button th:if="${session.user.id==playlist.user.id}" class="trash-button" type="submit"><i class="fa fa-trash"></i></button>
            	</form>
                <a th:if="${session.user.id==playlist.user.id}" th:href="@{'/playlist/'+${playlist.id} + '/add'}"><i class="fa fa-plus"></i></a>
                <form th:action="@{'/playlist/'+${playlist.id}+'/bookmark'}" method="post">
                	<button class="star-button" type="submit"><i class="fa fa-star"></i></button>
                </form>
                
            </div>
            <!-- end chat-header -->

            <div class="chat-history">
                <div class="chat-num-messages" th:text=${playlist.description}>해당 플레이리스트 설명(20자 이내)</div>

            </div>
            <!-- end chat-history -->


        </div>
        <!-- end chat -->

    </div>
    <!-- end container -->

    <script src="/assets/js/bg.js"></script>
</body>