<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Today Music</title>
    <link rel="stylesheet" href="../assets/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-latest.js"></script>
</head>

<body>
    <header>
        <div class="mac-btn" id="mac-btn1"></div>
        <div class="mac-btn" id="mac-btn2"></div>
        <div class="mac-btn" id="mac-btn3"></div>
    </header>

    <section class="center">
        <div class="app">
            <div class="menu">
                <ul>
                    <li><a class="active" href="#">내 플레이리스트</a></li>
                    <li>
                        <a href="#">다른 플레이리스트</a>
                    </li>
                </ul>
            </div>
            <div class="search">
                <form method="POST">
                    <input type="text" class="search-input" placeholder="내 플레이리스트 검색">

                </form>
                <button>+</button>
                <a href="#" class="list"><span>플레이리스트 제목</span></a>
                <a href="#" class="list"><span>플레이리스트 제목</span></a>
            </div>


        </div>
    </section>

    </form>



    <script src="../assets/js/bg.js"></script>
</body>