<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">


<head>
    <title>내플리스 - My Playlists</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-latest.js"></script>
</head>

<body>
    <header>
        <div class="mac-btn" id="mac-btn1"></div>
        <div class="mac-btn" id="mac-btn2"></div>
        <div class="mac-btn" id="mac-btn3"></div>
    </header>

    <div class="container clearfix">
        <div class="people-list" id="people-list">
            <div class="search">
            	<form method="get" action="/playlist/search">
            		<input type="text" placeholder="플레이리스트 검색" name="keyword">
            	</form>
            </div>
            <div class="menu-btn">
            	<a class="add-btn" href="javascript:history.back();">뒤로</a>
            </div>
            
            <ul class="list">
                <li class="clearfix" th:each="song:${songs}">
                    <a th:href="@{'/playlist/'+${playlist.id}+'/'+${song.id}}">
                        <div class="about">
                            <div class="name" th:text="${song.title}">노래 제목</div>
                            <div class="status" th:text="${#temporals.format(song.createdAt,'yy-MM-dd HH:mm')}"></div>
                        </div>
                    </a>
                </li>
            </ul>
            <div class="pagination">
            	<a class="my-info" th:href="@{/myinfo}">내 정보</a>
	            <a class="page-link disabled">◀</a>
	            <a class="fa fa-home" th:href="@{/mylist}"></a>
	           	<a class="page-link disabled">▶</a>
	           	<a class="logout-btn" th:href="@{/logout}" role="button">로그아웃</a>
            </div>
        </div>

        <div class="chat">
            <div class="chat-header clearfix">
                <div class="chat-about">
                    <div class="chat-with" th:text="${playlist.title}">해당 플레이리스트 제목</div>
                    <div class="chat-num-messages" th:text="${author} + '의 플레이리스트'">해당 플레이리스트 만든 사람</div>
                </div>
                <form th:action="@{'/playlist/'+${playlist.id}}" method="post">
            		<input type="hidden" name="_method" value="delete"/>
            		<button th:if="${session.user.id==playlist.user.id}" class="trash-button" type="submit"><i class="fa fa-trash"></i></button>
            	</form>
                <a th:if="${session.user.id==playlist.user.id}" th:href="@{'/playlist/'+${playlist.id} + '/add'}"><i class="fa fa-plus"></i></a>
            	<form action="" method="post">
                	<button class="star-button" type="submit"><i class="fa fa-star"></i></button>
                </form>
            </div>
            <!-- end chat-header -->

            <div class="chat-history">
            	<div class="player">
            		<div id="player"></div>
            	</div>
            	<div>
            		<a th:if="${session.user.id==playlist.user.id}" class="btn" th:href="@{'/playlist/'+${playlist.id}+'/'+${nowSong.id}+'/update'}">수정</a>
            		<form class="delete-form" th:action="@{'/playlist/'+${playlist.id}+'/'+${nowSong.id}}" method="post">
            			<input type="hidden" name="_method" value="delete"/>
            			<button th:if="${session.user.id==playlist.user.id}" type="submit">삭제</button>
            		</form>
            	</div>
            	
            </div>
        </div>
    </div>
    <!-- end container -->
	<script th:inline="javascript">
		/*<![CDATA[*/
        // 2. This code loads the IFrame Player API code asynchronously.
        var tag = document.createElement('script');

        tag.src = "https://www.youtube.com/iframe_api";
        var firstScriptTag = document.getElementsByTagName('script')[0];
        firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

        // 3. This function creates an <iframe> (and YouTube player)
        //    after the API code downloads.
        var player;
        var now = /*[[${nowSong.videoId}]]*/
		
			
		
        function onYouTubeIframeAPIReady() {
            player = new YT.Player('player', {
                height: '270',
                width: '480',
                videoId: now,
                events: {
                    'onReady': onPlayerReady,
                    //'onStateChange': onPlayerStateChange
                }
            });
        }

        // 4. The API will call this function when the video player is ready.
        function onPlayerReady(event) {
            event.target.playVideo();
        }
		/*]]*/
		
		
		
        // 5. The API calls this function when the player's state changes.
        //    The function indicates that when playing a video (state=1),
        //    the player should play for six seconds and then stop.
        
        /*
        var done = false;

        function onPlayerStateChange(event) {
            if (event.data == YT.PlayerState.PLAYING && !done) {
                setTimeout(stopVideo, 6000);
                done = true;
            }
        }

        function stopVideo() {
            player.stopVideo();
        }*/
        
    </script>
    <script th:inline="javascript">
    	/*<![CDATA[*/
    	const body = document.querySelector("body");
		const IMG_NUMBER = 5;
		
		function paintImage(imgNumber) {
		    const image = new Image();
		    image.src = `https://i.ytimg.com/vi/${now}/mqdefault.jpg`;
		    image.classList.add("bgImage");
		
		    //append -> 뒤에 추가, prepend -> 맨앞에 추가
		    body.prepend(image)
		}
		
		function generateRandom() {
		    const number = Math.floor(Math.random() * IMG_NUMBER);
		    return number;
		}
		
		
		function init() {
		    const randomNumber = generateRandom();
		    paintImage(randomNumber);
		}
		
		init();
		/*]]*/
    </script>
</body>