<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">


<head>
    <title>내플리스 - My Playlists</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-latest.js"></script>
</head>

<body>
    <header>
        <div class="mac-btn" id="mac-btn1"></div>
        <div class="mac-btn" id="mac-btn2"></div>
        <div class="mac-btn" id="mac-btn3"></div>
    </header>

    <div class="container clearfix">
        <div class="people-list" id="people-list">
            <div class="search">
            	<form method="get" action="/all/search">
            		<input type="text" placeholder="모든 플레이리스트 검색" name="keyword">
            	</form>
            </div>
            <div class="menu-btn">
            	<a class="add-btn" th:href="@{/playlist/add}">플레이리스트 추가</a>
            	
            </div>
            <ul class="list">
                <li class="clearfix" th:each="playlist:${playlists}">
                    <a th:href="@{'/playlist/'+${playlist.id}}">
                        <div class="about">
                            <div class="name" th:text="${playlist.title}">플레이리스트 제목</div>
                            <div class="status" th:text="${#temporals.format(playlist.updatedDate,'yy-MM-dd HH:mm')}"></div>
                        </div>
                    </a>
                </li>
            </ul>
            <div class="pagination">
            	<a class="my-info" th:href="@{/myinfo}">내 정보</a>
	            <a th:class="${isFirst==true} ? 'page-link disabled' : 'page-link'" th:href="@{'?page=' + ${previous}}">◀</a>
	            <a class="fa fa-home" th:href="@{/mylist}"></a>
	           	<a th:class="${isLast==true} ? 'page-link disabled' : 'page-link'" th:href="@{'?page=' + ${next}}">▶</a>
	           	<a class="logout-btn" th:href="@{/logout}" role="button">로그아웃</a>
            </div>
			
        </div>

        <div class="chat">
        	<div class="chat-header clearfix">
        		<div class="chat-about">
        			<a href="/mylist">내 플레이리스트 보기</a>
        			<a href="/all" style="background-color:hsl(212, 29%, 1%);">모든 플레이리스트 보기</a>
        			<a href="/bookmark">즐겨찾기 보기</a>
                </div>
                
        	</div>
        
        </div>
        <!-- end chat -->

    </div>
    <!-- end container -->

    <script src="/assets/js/bg.js"></script>
</body>