<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">


<head>
    <title>내플리스 - My Playlists</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-latest.js"></script>
</head>

<body>
    <header>
        <div class="mac-btn" id="mac-btn1"></div>
        <div class="mac-btn" id="mac-btn2"></div>
        <div class="mac-btn" id="mac-btn3"></div>
    </header>

    <div class="container clearfix">
        <div class="people-list" id="people-list">
            <div class="search">
            	<form method="get" action="/playlist/search">
            		<input type="text" placeholder="플레이리스트 검색" name="keyword">
            	</form>
            </div>
            <div class="menu-btn">
            	<a class="add-btn" href="javascript:history.back();">뒤로</a>
            </div>
            
            <ul class="list">
                <li class="clearfix" th:each="song:${songs}">
                    <a th:href="@{'/playlist/'+${playlist.id}+'/'+${song.id}}">
                        <div class="about">
                            <div class="name" th:text="${song.title}">노래 제목</div>
                            <div class="status" th:text="${#temporals.format(song.createdAt,'yy-MM-dd HH:mm')}"></div>
                        </div>
                    </a>
                </li>
            </ul>
            <div class="pagination">
	           	<a class="logout-btn" th:href="@{/logout}">로그아웃</a>
	         
            </div>
        </div>

        <div class="chat">
            <div class="chat-header clearfix">
                <div class="chat-about">
                    <div class="chat-with" th:text="${playlist.title}">해당 플레이리스트 제목</div>
                    <div class="chat-num-messages" th:text="${author} + '의 플레이리스트'">해당 플레이리스트 만든 사람</div>
                </div>
                <form th:action="@{'/playlist/'+${playlist.id}}" method="post" name="deletePlaylistForm">
            		<input type="hidden" name="_method" value="delete"/>
            		<button class="trash-button" type="button" onclick="checkPlaylistDeletion()"><i class="fa fa-trash"></i></button>
            	</form>
                <a th:href="@{'/playlist/'+${playlist.id} + '/add'}"><i class="fa fa-plus"></i></a>
                <button id="star-button" class="star-button"><i id="star" th:class="${isBookmark}?'fa fa-star bookmark' : 'fa fa-star'"></i></button>
            </div>
            <!-- end chat-header -->

            <div class="chat-history">
            	<form class="update-form" method="post" th:action="@{'/playlist/'+${playlist.id}+'/'+${nowSong.id}+'/update'}">
            		<input type="hidden" name="_method" value="put"/>
            		<div class="form-group">
            			<label>제목</label>
            			<input class="form-control" name="title" type="text" th:value="${nowSong.title}">
            		</div>
            		<div class="form-group">
            			<label>설명</label>
            			<textarea class="form-control" name="description" th:text="${nowSong.description}"></textarea>
            		</div>
            		<div class="form-group">
            			<button type="submit">수정</button>
            		</div>
            	</form>
            	
            </div>
        </div>
    </div>
    <!-- end container -->
    
    <!-- 백그라운드 설정 -->
    <script th:inline="javascript">
    	/*<![CDATA[*/
    	
    	const body = document.querySelector("body");
		var now = /*[[${nowSong.videoId}]]*/
		
		function paintImage() {
		    const image = new Image();
		    image.src = `https://i.ytimg.com/vi/${now}/mqdefault.jpg`;
		    image.classList.add("bgImage");
		
		    //append -> 뒤에 추가, prepend -> 맨앞에 추가
		    body.prepend(image)
		}
		
		
		function init() {
		    paintImage();
		}
		
		init();
		/*]]*/
    </script>
    
    <!-- 즐겨찾기 설정 -->
    <script th:inline="javascript">
    	/*<![CDATA[*/
    	var user = /*[[${session.user}]]*/
    	$('#star-button').on('click', function(){
    		var playlistId = /*[[${playlist.id}]]*/
    		
    		$.ajax({
    			url:`/playlist/${playlistId}/bookmark`,
    			data:user,
    			type:"POST",
    			success:function(){
    				document.getElementById('star').classList.toggle('bookmark');
    			},
    			error:function(){
    				console.log("fail");
    			}
    		});
    	});
    	/*]]*/
    </script>
    <script src="/assets/js/check.js"></script>
</body>