<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>내플리스 - MyPlaylists</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-latest.js"></script>
</head>

<body>
    <header>
        <div class="mac-btn" id="mac-btn1"></div>
        <div class="mac-btn" id="mac-btn2"></div>
        <div class="mac-btn" id="mac-btn3"></div>
    </header>

	<!-- 
    <div class="menu">
        <ul>
            <li><a class="active" th:href="@{/login}">로그인</a></li>
            <li><a th:href="@{/signup}">회원가입</a></li>
        </ul>
    </div>
    -->
    <div class="login">
    	
    	<a class="login-btn" href="/oauth2/authorization/google"><i class="fa fa-google"></i> 구글 계정으로 시작</a>
    </div>
   


    <script src="/assets/js/bg.js"></script>
</body>