.edit-box__container {
  position: absolute;
  top:32px;
  right: 10px;
  height: 100%;
  display: flex;
  svg {
    cursor: pointer;
    width: 50px;
    font-size: 25px;
    color: darken(white, 20%);
    &:hover {
      transform: scale(110%);
    }
  }
}

.isBookmarked {
  color: greenyellow !important;
}
