.edit-box__container {
  position: absolute;
  bottom: 0;
  right: 10px;
  width: 150px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  svg {
    font-size: 25px;
    color: darken(white, 20%);
  }
}

.isBookmarked {
  color: greenyellow !important;
}
