.form__container {
    .user-name-input__container,
    .email-input__container,
    .nickname-input__container{
      width: 100%;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin: 40px 0;
    }
}

.user-name__input,
.email__input,
.nickname__input{
    width: 500px;
    font-size: 17px;
    padding: 10px;
    border: solid 1px $main-lighten-color;
    border-radius: 5px;
}

.warning-message__span{
    width: 500px;
    color: white;
    font-size: 15px;
    text-align: center;
    margin-top: 10px;
}

.readonly{
    background-color:#3a4c66;
}

.input-error {
    border: 1.5px solid rgba(255, 0, 0, 0.9) !important;
}