.play-box__container {
  width: 100%;
  display: grid;
  grid-template-columns: 300px 900px;
  grid-template-rows: 700px;
  grid-template-areas:
    "content-left  content-right";
}

.play-box__container .play-box__container--left {
  grid-area: content-left;
  @include mixin-background-color($main-background-color, 0.5);
}

.play-box__container .play-box__container--right {
  grid-area: content-right;
  @include mixin-background-color($main-background-color, 0.7);
}

.header__container {
  position: relative;
  height: 100px;
  padding: 15px 0 0 0;
}

.logo__container {
  width: 100%;
  text-align: center;
  font-size: 35px;
  font-weight: 500;
  a {
    color: white;
  }
}

.button__container--header {
  position: absolute;
  right: 10px;
  top: 5px;
  width: 30px;
}

.add__button--header {
  color: white;
  font-size: 37px;
}

.logo__container a:hover,
.add__button--header:hover {
  color: darken(white, 40%);
}

.search__input--header {
  position: absolute;
  left: 10px;
  bottom: -15px;
  border-radius: 3px;
  border: none;
  padding: 10px;
  background: white;
  outline: 0;
  width: 93%;
  font-size: 14px;
}

.lists__container {
  width: 100%;
  height:500px;
  margin-top: 35px;
  overflow-x: hidden;
  overflow-y: auto;
}

.lists__container::-webkit-scrollbar {
  width: 5px;
}
.lists__container::-webkit-scrollbar-thumb {
  background-color: #2f3542;
}
