.search-song__container {
  padding: 10px;
  margin-top: 5px;
  text-align: center;
}
.search-song__input {
  left: 10px;
  bottom: -15px;
  border-radius: 3px;
  border: none;
  padding: 10px;
  background: white;
  outline: 0;
  width: 90%;
  max-width: 720px;
  font-size: 14px;
}
