.search-song__container {
  position: sticky;
  left: 0;
  top: 0;
  padding: 20px 0;
  margin-top: 5px;
  text-align: center;
}
.search-song__input {
  width: 90%;
  border-radius: 3px;
  border: none;
  padding: 10px;
  background: white;
  outline: 0;
  font-size: 14px;
}
