.song__container {
  position: relative;
  width: 300px;
  height: 81px;
  overflow: hidden;
  @extend .playlist__container--left;
}

.song__span--title {
  @extend .playlist__span--title;
}

.song__span--createdDate {
  @extend .playlist__span--updatedDate;
}

.song__container:hover {
  @include mixin-background-color($main-background-color, 0.5);
}
