.song-result__container {
  width: 90%;
  height: 130px;
  display: grid;
  grid-template-columns: 2fr 4fr 1fr;
  div {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  margin: 18px auto;
}

.song-result__image {
  width: 100%;
  height: 100%;
  background-color: $main-shadow-color;
  object-fit: contain;
}

.song-result__span {
  color: white;
  font-size: 20px;
  font-weight: 300;
  line-height: 22px;
  padding: 20px;
}

.song-result__button {
  cursor: pointer;
  color: white;
  border: white 1px solid;
  padding: 5px 8px;
  font-size: 14px;
  background-color: $main-shadow-color;
  &:hover {
    background-color: darken(white, 70%);
  }
}
