.youtube__container {
  height: 600px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 30px 15px;
}

.youtube__video {
  width: 720px;
  height: 405px;
  left: 0px;
  top: 0px;
}

.description__container--youtube {
  width: 720px;
  height: 80px;
}

.description__textarea--youtube {
  width: 100%;
  height: 100%;
  font-size: 18px;
  line-height: 20px;
  padding: 10px;
}

.button__container--youtube {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  span {
    cursor: pointer;
    font-size: 18px;
    margin: 0 10px;
    color: darken(white, 10%);
    &:hover {
      color: darken(white, 40%);
    }
  }
}

.thumbnail__container--youtube {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  min-width: 1200px;
  height: 100vh;
  z-index: -1;
}

.thumbnail__img--youtube {
  width: 100%;
  height: 99%;
  object-fit: cover;
  filter: blur(10px);
}
