.youtube__container {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 30px 15px;
}

.youtube__video {
  width: 720px;
  height: 405px;
  left: 0px;
  top: 0px;
}

.description__container--youtube {
  width: 90%;
  height: 70px;
}

.description__textarea {
  width: 100%;
  height: 100%;
  font-size: 20px;
  padding: 10px;
}

.thumbnail__container--youtube {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  min-width: 1200px;
  height: 100vh;
  z-index: -1;
}

.thumbnail__img--youtube {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(10px);
}
